body {
    font-family: 'proxima-nova-regular';
}
header {
    margin: auto;
    width: 100%;
}
a {
    color: $color-white;
    text-decoration: none;
}
i {
    font-family: 'proxima-nova-regular-italic';
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'proxima-nova-bold';
}
