/* Z indexes */
$bulleted-list-bottom-image: -1;
$mini-solution-block-zindex: 1000;
$item-block-top: 1000;
/* QUILT */
$tile-learn-more: 100;
/* HEADER */
$header-top: 1;
/* TOPIC TAB */
$topic-tab-item-behind: -1;
$topic-tab-item: 2;
/*PARALLAX*/
$parallax-middle: 500;
$parallax-top: 1000;
/* TOP NAV */
$z-index-overlay: 1001;
$z-index-navbar: 1002;
$z-index-overlay-mobile: 1005;
$z-index-menu-mobile: 1010;
$z-index-overlay-mobile-2: 1015;
$z-index-menu-mobile-2: 1020;
$z-index-overlay-mobile-3: 1025;
$z-index-menu-mobile-3: 1030;
$z-index-overlay-mobile-4: 1035;
$z-index-menu-mobile-4: 1040;
