/* Texts */
$color-white: #ffffff;
$color-black: #000000;
/* Buttons */
$color-btn-border: #dbdbdb;
$color-btn-default: #0866b1;
$color-btn-default-icon: #044cb7;
$color-btn-alternate: #bdc205;
$color-btn-alternate-icon: #a8ad0a;
/* PALL Pallete */
$color-pallblue: #184d9d;
$color-charcoal1: #444444;
$color-charcoal2: #1b1b1b;
$color-charcoal3: #2b2a2a;
$color-highlight: #bdc205;
$color-microelec: #80a546;
$color-aerospace: #33ace0;
$color-oilgas: #541801;
$color-laboratory: #41a9b8;
$color-biopharma: #533061;
$color-chemicals: #599d76;
$color-power: #e96f14;
$color-industrial: #222a4a;
$color-medical: #1b8bea;
$color-food: #3a7e07;
/* Article */
$color-article-bg: #3a3a3a;
$color-calendar-day: #444444;
/* Bulleted List */
$color-lear-more-link: #0c6cb6;
/* Event */
$color-event-count-text-bg: #202020;
$color-event-count-graph-bg: #272a2d;
/* Countdown */
$color-count-down-stroke: #80a604;
/* Footer */
$color-footer-bg: #424242;

$color-topnav-search-text: #dfdfdf;
