.header-basic {
	position: relative;
	&__bg-image {
		position: absolute;
    	right: 0;
    	width: auto;
    	z-index: $header-top;
	}
	&__content {
		@include flexbox;
		background-size: 100%;
		width: 100%;
		-webkit-clip-path: polygon(0 0, 100% 0, 100% 90%, 13% 90%, 9% 100%, 67px 90%, 0 90%);
		@include mobile {
			height: 125px;
		}
		@include desktop {
			height: 240px;
		}
		&.layout-basic {
			@include desktop {
				height: 200px;
			}
			@include mobile {
				bottom: 0;
				display: block;
				position: relative;
			}
		}
		&__tactile-graphic {
			position: absolute;
			right: 0;
			top: 0;
		}
		&__text-box {
			@include flexbox;
			color: $color-white;
			@include mobile {
				padding-bottom: 4%;
				padding-top: 4%;
			}
			@include desktop {
				margin-top: 4%;
			}
			&__container {
				@include mobile {
					max-width: 100%;
				}
				@include desktop {
					max-width: 75%;
				}
			}
			&__title {
				padding-bottom: 1%;
				text-transform: uppercase;
				@include mobile {
					font-size: 24px;
					line-height: 20px;
				}
				@include desktop {
					font-size: 50px;
					line-height: 40px;
					padding-top: 7px;
				}
			}
			&__text {
				@include mobile {
					font-size: 14px;
					font-weight: bold;
				}
				@include desktop {
					font-size: 14px;
					line-height: 18px;
				}
			}
		}
	}
}
