// Pall Business Unit Colors

$pall: #0a48a3;
$microelectronics: #80a604;
$aerospace-defense: #00aeef;
$oil-gas: #541801;
$laboratory: #3ba8b8;
$biopharmaceutical: #532e62;
$food-beverage: #3a7e07;
$medical: #1b8bea;
$industrial-manufacturing: #222a4a;
$power-utilities: #e96f14;
$chemicals-polymers: #599d76;
