.videowrapper {
  .h3, .h2 {
    font-family: "proxima-nova","Helvetica",arial,sans-serif;
    font-weight: 700;
    margin: 0;
  }
  h2, h3 {
    font-size: 24px;
  }
  p {
    font-size: 14px;
  }
}

.youtube-player {
  position: relative;
  padding-bottom: 0%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 50px;
}

.width-control {
  left: 50%;
  height: 100%;
  padding-bottom: 0;
}

.youtube-player {
  iframe {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }
  img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
    &:hover {
      -webkit-filter: brightness(75%);
    }
  }
}

.widthvideo {
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.youtube-player {
  .play {
    height: 720px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
  }
  position: relative;
  padding-bottom: 56.23%;
  /* Use 75% for 4:3 videos */
  height: 0;
  overflow: hidden;
  max-width: 100%;
  background: #000;
  margin: 5px;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: transparent;
  }
  img {
    bottom: 0;
    display: block;
    left: 0;
    margin: auto;
    max-width: 100%;
    width: 100%;
    position: absolute;
    right: 0;
    top: 0;
    border: none;
    height: auto;
    cursor: pointer;
    -webkit-transition: .4s all;
    -moz-transition: .4s all;
    transition: .4s all;
    &:hover {
      -webkit-filter: brightness(75%);
    }
  }
  .play {
    height: 72px;
    width: 72px;
    left: 50%;
    top: 50%;
    margin-left: -36px;
    margin-top: -36px;
    position: absolute;
    background: url("//i.imgur.com/TxzC70f.png") no-repeat;
    cursor: pointer;
  }
}

.RYPP {
  /* Youtube Player With Playlist */
  width: 100%;
  position: relative;
  padding-right: 35%;
  /*background:#010101;*/
  overflow: hidden;
  font: 400 14px/120% Arial, Helvetica, sans-serif;
  color: #999;
  .RYPP-video {
    width: 100%;
    padding-top: 20%;
    float: left;
    position: relative;
    > iframe {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 2;
    }
  }
}

.videodescription {
  padding-top: 59%;
}

.RYPP {
  &.r16-9 .RYPP-video, &.r4-3 .RYPP-video {
    padding-top: 56.25%;
  }
  &.r2-1 .RYPP-video {
    padding-top: 50%;
  }
  .RYPP-items {
    width: 100%;
    position: absolute;
    left: 0;
    top: 8px;
    right: 0;
    bottom: 0;
    margin-left: 1px;
    overflow-y: auto;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0px;
    right: 0;
    bottom: 0;
    margin-left: 1px;
    overflow-y: auto;
    &::-webkit-scrollbar {
      width: 5px;
    }
  }
  .RYPP-items-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  }
  .RYPP-items::-webkit-scrollbar-thumb {
    background-color: while;
    outline: 1px solid slategrey;
  }
  .RYPP-playlist {
    width: 33%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    max-height: 70%;
    background: #010101;
    a {
      color: #3a3a3a;
      &:hover {
        color: #fff;
      }
    }
    > header {
      width: 100%;
      height: 64px;
      padding: 16px 0 0 8px;
      background: #010101;
      border-left: 8px solid #010101;
      border-right: 8px solid #010101;
      border-bottom: 1px solid #010101;
      z-index: 2;
      ._h1 {
        margin: 0 0 4px 0;
        padding: 0;
        font-size: 16px;
        font-weight: 400;
        color: #fff;
      }
      p {
        margin: 0;
        padding: 0;
      }
    }
    ol {
      padding: 0 0 16px 0;
      margin: 0;
      list-style: none;
      counter-reset: item;
      li {
        position: relative;
        vertical-align: right;
        overflow: hidden;
        border-bottom: 2px solid grey;
        width: 315px;
        height: 100px;
        padding: 5px;
        text-align: left;
        float: right;
        /* border-top: 4px solid;*/
        max-width: 100%;
        min-width: 100%;
        > {
          img {
            width: 40%;
            height: 100%;
            display: inline-block;
            vertical-align: left;
            /*padding-left: 40px;*/
            /* margin-right: 10px; */
            border: 2px solid transparent;
          }
          p {
            margin: 0;
            width: 60%;
            /* padding: 0 0px 0 50px; */
            float: right;
            display: inline-block;
            vertical-align: middle;
            text-align: left;
            max-width: 50%;
            color: #fff;
            > small {
              margin: 0;
              padding: 0;
              font-size: 80%;
            }
          }
        }
        &:hover {
          background-color: #3a3a3a;
          cursor: pointer;
        }
        &.selected {
          background-color: #3a3a3a;
          cursor: pointer;
          > {
            p {
              color: #fff;
            }
            img {
              border: 2px solid #3a3a3a;
            }
          }
          &:before {
            font-size: 20px;
            color: #c03636;
          }
        }
      }
    }
  }
}

.RYPP-items {
  &::-webkit-scrollbar {
    width: 3px;
    background: #010101;
  }
  &::-webkit-scrollbar-thumb {
    background: grey;
  }
}

#loadMore {
  display: none;
}

#showLess {
  padding: 10px;
  text-align: center;
  background-color: #33739E;
  color: #fff;
  border-width: 0 1px 1px 0;
  border-style: solid;
  border-color: #fff;
  box-shadow: 0 1px 1px #ccc;
  transition: all 600ms ease-in-out;
  -webkit-transition: all 600ms ease-in-out;
  -moz-transition: all 600ms ease-in-out;
  -o-transition: all 600ms ease-in-out;
  &:hover {
    background-color: #fff;
    color: #33739E;
  }
}

@media only screen and (max-width: 639px) {
  a {
    color: #33739E;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    &:visited {
      color: #33739E;
      text-decoration: none;
      display: block;
      margin: 10px 0;
    }
    &:hover {
      text-decoration: none;
    }
  }
  #loadMore {
    display: block;
    padding: 10px;
    text-align: center;
    /* background-color: #33739E;*/
    color: white;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-color: #fff;
    box-shadow: 0 1px 1px #ccc;
    transition: all 600ms ease-in-out;
    -webkit-transition: all 600ms ease-in-out;
    -moz-transition: all 600ms ease-in-out;
    -o-transition: all 600ms ease-in-out;
    &:hover {
      background-color: #fff;
      color: #33739E;
    }
  }
  .RYPP {
    padding-right: 0;
    .RYPP-playlist {
      width: 100%;
      position: static;
      float: left;
      .RYPP-items {
        position: static;
        max-height: 500px;
        overflow: auto;
      }
    }
  }
}